/* reset CSS style.css in page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: oldlace;*/
}
/*inicio do menu da page*/
.facebook01 {
    width: 15px;
    height: 15px;
}


.youtube02 {
    width: 15px;
    height: 15px; 
}


.instagram03 {
    width: 15px;
    height: 15px;
}


.facebook{
 
   position: relative;
   top: 13px;
   right: 05px;
}


.youtube{
  
    position: relative;
    top: -05px;
    right: -20px;

}

.instagram {
    position: relative;
    top: -25px;
    right: -45px;
}


.menu01 {
    display: flex;
   justify-content: space-around;
   background-color: orange;
   width: 1363px;
   height: 35px;
   margin-top: -08px;
   position: relative;
  right: 20px;
}



.textoingresso {
    position: relative;
    top: 15px;
 
    color:black;
}
/* fim menu page ^ */
.menubajo {
    width: 1351px;
    height: 150px;
    background-color: rgb(10,10,10);
    position: relative;
    left: -08px;
    display: flex;

    
}


.bajofoto {
 
    position: relative;
    right: -250px;
    top: 20px;

}


.iconeplay {
    width: 15px;
    height: 15px;
    background-color: white;


}

.iconeguitar {
     width: 15px;
    height: 15px;
background-color: white;
}

.iconemic {
    width: 15px;
    height: 15px;
background-color: white;
}


.iconepesquisa {
    width: 15px;
    height: 15px;
background-color: white;
}


.textoeicones {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    right: -450px;
    top: -20px;
    
    

}
h6 {
    color: white;
}


.iconeshare {
    position: relative;
    top: -20px;
    background-color: white;
}


.iconeface {
    position: relative;
    top: -20px;

}

.twittericone 




/*ini mein page*/
.flex-container {
    display: flex;
    justify-content: space-evenly;
}


.iconeslateral {

display: flex;
flex-direction: column;
position: relative;
top: 80px;

}


.shareicon02 {
    background-color: white;
}


.planodefundo {

    background-image: url("imagemdefundo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1343px;
    height: 300px;
  
     
 
   


}





.menubajismo {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
    background-image: url(images/iimg_1_1.jpg);
    background-size: cover;
    position: relative;
    top: -340px;
    gap: 15px;
}
    


.bt2 {
    color: white;
   
    width: 290px;
    height: 50px;
    background: rgb(255, 157, 0);
    border: none;

    
}
   

  
    
    
   



.grid-container1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /*grid-template-areas: 'grid-item-box1 grid-item-box1 grid-item-box1'
                         'grid-item-box2 grid-item-box2 grid-item-box2'
                         'grid-item-box3 grid-item-box3 grid-item-box3';*/
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}

.flex-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item {
    text-align: center;
    height: 250px;
}


.grid-item-box11 {
    
    align-items: center;
    align-content: center;
}

.nosublin {
    background: rgb(55, 56, 58);
    font-size: 9px;
    text-decoration: none;
    color: white;
}

.destacado04 {
position: relative;
top: -05px;


}

.flex-container {
    display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: flex-end;
 gap: 05%;


}

.bt1 {
    color: white;
    border-color: white;
    width: 290px;
    height: 50px;
    background: rgb(255, 157, 0);
    border: none;
}



.bt3 {
    color: white;
    border-color: white;
    width: 290px;
    height: 50px;
    background: rgb(255, 157, 0);
    border: none;
}



.plataformaletras {
 display: flex;
 justify-content: center;
}




.texto02plataforma {
    position: relative;
    left: 30px;
}


.texto03plataforma {
    position: relative;
    left: 120px;
}




.menudevideos {

height: 400px;
background-color: #d3d3d3;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;


}




.menudeestudio{
height: 400px;
display: flex;
align-items: center;
justify-content: space-around;




}




.imagemdoestuido03 {

position: relative;
left: 140px;

}




.tituloprogramas {

position: relative;
top: -60px;

}



.texto2estudios {

position: relative;
top: 10px;

}


.movimentobotaoefrase {
    position: relative;
    top: 70px;
}



.botaoestudio {

    width: 270px;
    height: 40px;
    background-color: #565656;
    color: white;
}





.botaovideosyu {

position: relative;
top: 20px;
border: none;

width: 270px;
height: 40px;
background-color: orange;
color: white;


}




.textorodape {
    background-color: #565656;
    width: 1343px;
    height: 45px;

    





}



.texto02roda {

display: flex;

position: relative;
top: 15px;





}




.botoesroda02 {
display: flex;
flex-direction: row;
justify-content: right;
align-items: center;
position: relative;
left: -280px;
gap: 01%;



}